@charset "utf-8";
/* Atomic D - by Jonathan Davis */
/* Version 2016.0705 */

html {
	position: relative;
	min-height: 100%;
}

html body a, html body a:hover {
	text-decoration:none;
}

@media (min-width: 768px) {
	.main-container {
		padding-top:20px;
	}
}

.truncate {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.invisible {
	width: 0;
	height: 0;
	visibility: hidden;
}

.vertical-align-middle {
	top: 50%;
	position: relative;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.box {
	padding:10px;
}

.box-20 {
	padding:20px;
}

.box-40 {
	padding:40px;
	overflow:auto;
}

@media (max-width: 768px) {
	.box, .box-20, .box-40 {
		padding:0px
	}
}

.no-padding {
	padding-right:0px !important;
	padding-left:0px !important;
	padding-top:0px !important;
	padding-bottom:0px !important;
}

.ratio-169 {
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

.ratio-21 {
	width: 100%;
	height: 0;
	padding-bottom: 50%;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

@media (max-width: 768px) {
	.ratio-xs-11 {
		width: 100%;
		height: 0;
		padding-bottom: 100%;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
	}
}

.ratio-11 {
	width: 100%;
	height: 0;
	padding-bottom: 100%;
	background-size:cover;
	background-position:center center;
	background-repeat:no-repeat;
}

.block-shadow {
	box-shadow: 0px 0px 3px #D4D4D4;
}

.inner-shadow {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
}

.filter-shadow {
	-webkit-filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.5));
    filter: url("data:image/svg+xml;utf8,<svg height='0' xmlns='http://www.w3.org/2000/svg'><filter id='drop-shadow'><feGaussianBlur in='SourceAlpha' stdDeviation='4'/><feOffset dx='5' dy='5' result='offsetblur'/><feFlood flood-color='rgba(0,0,0,0.5)'/><feComposite in2='offsetblur' operator='in'/><feMerge><feMergeNode/><feMergeNode in='SourceGraphic'/></feMerge></filter></svg>#drop-shadow");
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#0000FF,direction=45);
}

.container-full {
	width:100%;
}

.hr-white {
	display: block;
	height: 1px !important;
	border: 0;
	border-top: 1px solid #fff;
	margin: 10px 0;
	padding: 0;
}

.bg-black {
	background-color:#000;
}

.bg-gray {
	background-color:#4d4d4d;
}

.bg-light-gray {
	background-color:#eee;
}

.bg-dark-gray {
	background-color:#333;
}

.bg-blue {
	background-color:#008c93;
}

.bg-white {
	background-color:#fff;
}

.bg-orange {
	background-color:#ff6600;
}

.border-gray {
	border:1px solid #777;
}

.border-white {
	border:2px solid #fff;
}

.border-black {
	border:2px solid #000;
}

.border-orange {
	border:2px solid #ff6600;
}

.border-brown {
	border:2px solid #8b775f;
}

.border-dark-brown {
	border:1px solid #55504d;
}

.border-none {
	border:none;
}

.text-normal {
	font-family: sans-serif;
}

.text-serif {
	font-family:serif;
}

.text-lato {
	font-family: 'Lato', 'Playfair Display', sans-serif;
}

.text-thin {
	font-weight: 300;
}

.text-white {
	color:#fff;
}

.text-black {
	color:#000;
}
.text-gray {
	color:#4f4d4e;
}
.text-brown {
	color:#6d6657;
}
.text-tan {
	color:#e2d8c2;
}
.hover-light-gray:hover {
	color:#eee;
}

.text-inset {
	text-shadow: -1px -1px 1px #333;
}
.text-bold {
	font-weight:bold;
}
.text-regular {
	font-weight:normal;
}
.text-48 {
	font-size:48pt;
	line-height:normal;
}
.text-36 {
	font-size:36pt;
}
.text-32 {
	font-size:32pt;
}
.text-28 {
	font-size:28pt;
}
.text-21 {
	font-size:21pt;
}
.text-18 {
	font-size:18pt;
}
.text-14 {
	font-size:14pt;
}
.text-12 {
	font-size:12pt;
}
.text-10 {
	font-size:10pt;
}
.text-7 {
	font-size:7pt;
}
.text-dark-brown {
	color:#4f3c2c;
}

.text-shadow {
	text-shadow:1px 1px #777;
}

.text-break {
	word-break: break-word;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	-o-hyphens: auto;
	hyphens: auto;
}

.hr-white {
	width: 100%;
	height: 2px;
	font-size: 0pt;
	background-color: #fff;
}

.hand {
	cursor:pointer;
}

.img-circle {
	/* make it responsive */
	max-width: 100%;
	width:100%;
	height:auto;
	display:block;
	padding-top:100%;
	border-radius:50%;
	background-position-y: center;
	background-position-x: center;
	background-repeat: no-repeat;
	
	/* it makes the clue thing, takes smaller dimention to fill div */
	background-size: cover;
}

